<div class="flexbox">
    <app-ad-banner backgroundColor="rgba(55, 48, 163, 1)"></app-ad-banner>
    <div  class="flex">
        <app-taskbox [statuses]="['Do zrobienia', 'W trakcie', 'Zakończone']" headline="Do zrobienia" [dodawanie]="true" [backgroundColor]="'rgba(55, 48, 163, 1)'"></app-taskbox>
        <app-taskbox [statuses]="['Do zrobienia', 'W trakcie', 'Zakończone']" headline="W trakcie" [dodawanie]="false"></app-taskbox>
        <app-taskbox [statuses]="['Do zrobienia', 'W trakcie', 'Zakończone']" headline="Zakończone" [dodawanie]="false"></app-taskbox>
    </div>
</div>
